@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}

    <!DOCTYPE HTML>
    <html>

    <body>

        <!-- Banner -->
        <section class="banner full">
            <article>
                <img src="~/images/sl01.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>El Pez Cojo</p>
                        <h2>Cevicheria</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="~/images/sl02.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>EL MEJOR SABOR</p>
                        <h2>Como en casa</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="~/images/sl03.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>LOS MEJORES PRECIOS</p>
                        <h2>Para tu estómago</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="~/images/sl04.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>EN EL MEJOR LUGAR</p>
                        <h2>Para tu familia</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="~/images/sl05.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>DONDE TODOS SALEN</p>
                        <h2>Satisfechos</h2>
                    </header>
                </div>
            </article>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style2">
            <div class="inner">
                <div class="grid-style">

                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img src="~/images/canto_nota3.jpg" alt="" width="10" height="300" />
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>¿Quienes Somos?</p>
                                    <h2>Nuestra Misión</h2>
                                </header>
                                <p>Somos una dedicada a la venta de platos marinos y comida criolla de alta calidad ofreciendo al consumidor y empresas mineras un servicio tradicional y de buen trato para así desarrollar una ambiente agradable y confortable.</p>
                                <footer class="align-center">
                                    <a href="#" class="button alt">Learn More</a>
                                </footer>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img src="~/images/2.jpg" alt="" width="50" height="300" />
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>A Donde Nos Proyectamos</p>
                                    <h2>Nuestra Visión</h2>
                                </header>
                                <p> Ser reconocidos como una de las marisquerías con sensaciones agradables a clientes rurales y locales con diversos platos de pescado de primera calidad en toda la provincia de La Oroya.</p>
                                <footer class="align-center">
                                    <a href="#" class="button alt">Learn More</a>
                                </footer>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper style3">
            <div class="inner">
                <header class="align-center">
                    <p>No te pierdas la oportunidad</p>
                    <h2>y ven a probar nuestra comida</h2>
                </header>
            </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper style2">
            <div class="inner">
                <header class="align-center">
                    <p class="special">cada pedido es especial para nosotros</p>
                    <h2>por eso los clientes vuelven</h2>
                </header>

            </div>
        </section>


        <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </div>
            <div class="copyright">
                &copy; Cevicheria El Pez Cojo. All rights reserved.
            </div>
        </footer>
    </body>
</html>